.input-button {
  background-color: rgba(0, 0, 0, 0.1);
}

.input-form {
  color: #000;
}

@media only screen and (max-width: 600px) {
  .btn-go {
    font-size: 12px;

  }
  .btn-go > span {
    display: flex;
    justify-content: center;
  }
}
